<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Profile</title>
</head>
<body>
  <h2>Hello, {{user.fullname}}</h2>
  <a href="/signout">SIGN OUT</a>
</body>
</html>
